.main_container{
  border: 1px solid black;
  display: grid;
  grid-template-columns: 400px auto auto;
  grid-template-rows: auto 700px auto ;
  grid-template-areas: "nav nav nav"
                        "aside main main"
                        "footer footer footer";

}
nav{
  grid-area: nav;
  border: 1px solid black;
  padding: 20px;
 
  
}
aside{
grid-area: aside;
border: 1px solid black;
text-align: center;
padding: 20px;


}
main{
grid-area: main;
border: 1px solid black;


}
footer{
grid-area: footer;
border: 1px solid black;
padding: 20px;}



